globals:  # global settings
  output_root: ./output  # The path for saving checkpoints, wandb, logs, results
  log_level: info  # The log level for logger, options are `debug`, `info`, `warning`, `error`, and `critical`
model:  # model settings
  cls: CIFARResNet18  # The class name of the model, which needs to be included in the `models` package
  kwargs:  # The parameters of the model class
    num_class: 200
  input_keys:  # The keys of the tensor inputs
    - image
  output_keys:  # The keys of the tensor outputs
    - logit
optimizer:  # optimizer settings
  cls: SGD  # The class name of the optimizer, which needs to be included in the `torch.optim` package
  kwargs:  # The parameters of the optimizer class
    lr: 0.2
    momentum: 0.9
    weight_decay: 0.0001
learning_rate:  # learninig rate scheduler settings
  step_mode: epoch  # The step mode for learning rate scheduler, options are `epoch`, `iteration`
  warmup_steps: 0  # Number of steps of warmup strategy, Note that when the number of steps is greater than 0, the total number of steps of the post scheduler should be subtracted
  cls: MultiStepLR  # The class name of the learning rate scheduler, which needs to be included in the `scheduler` package
  kwargs:  # The parameters of the learning rate scheduler class
    milestones:
      - 100
      - 150
    gamma: 0.1
dataset:  # dataset settings
  cls: TinyImageNetDataset  # The class name of the dataset, which needs to be included in the `datasets` package
  root_path: ~/datasets/Tiny-Imagenet  # The root path of the dataset
  ignore_class:  # The ignored class, class name (str) or class index (int) are supported
  num_workers: 8  # How many subprocesses to use for data loading
train:  # training settings
  reload_pth: last_epoch.pth  # The pth file name that required to be loaded for training resuming
  enable_amp: False  # Enable automatic mixed precision
  num_epoch: 200  # The number of training epoch
  batch_size: 256  # The total number of batch sizes for all GPUs
  summary_freq: 400  # The frequency for flushing weight&bias summaries
  dataset:  # The settings to determine how to load training dataset
    kwargs:  # The parameters of the training dataset class
      test_mode: False
      image_dir: train
      image_suffix: .JPEG
    transforms:  # Data transforms included in the `datasets.transforms` package
      func: pad_random_crop_hflip
      kwargs:  # The parameters of the transform function
        image_size: 
          - 64
          - 64
        padding_size: 
          - 4
          - 4
        horizontal_flip_prob: 0.5
  metrics:  # Metric settings for training and validation
    acc:  # Metric key
      cls: MulticlassAccuracy  # # The class name of the metric, which needs to be included in the `torchmetrics` package
      kwargs:  # The parameters of the metric class
        num_classes: 200
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
    iou: 
      cls: MulticlassJaccardIndex
      kwargs: 
        num_classes: 200
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
    f1: 
      cls: MulticlassF1Score
      kwargs: 
        num_classes: 200
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
  losses:  # Loss settings for training and validation
    ce:  # Loss key
      cls: CrossEntropy  # The class name of the loss, which needs to be included in the `losses` package 
      kwargs:  # The parameters of the loss class
          reduction: mean
      forward:  # The tensors keys for loss forward, e.g. - input/output: key
        - outputs: logit
        - inputs: label
  engine:  # The class name of the running engine, which needs to be included in the `engines` package 
    cls: MaskedClassificationTrain
valid:  # validation settings
  reload_pth: last_epoch.pth  # The pth file name that required to be loaded for valiation
  batch_size: 256  # The total number of batch sizes for all GPUs
  summary_freq: 100  # The frequency for flushing weight&bias summaries
  dataset:  # The settings to determine how to load training dataset
    kwargs:  # The parameters of the validation dataset class
      test_mode: False
      image_dir: val
      image_suffix: .JPEG
    transforms:  # Data transforms included in the `datasets.transforms` package
      func: image_resize_only
      kwargs:  # The parameters of the transform function
        image_size: 
          - 64
          - 64
  metrics:  # Metric settings for training and validation
    acc:  # Metric key
      cls: MulticlassAccuracy  # # The class name of the metric, which needs to be included in the `torchmetrics` package
      kwargs:  # The parameters of the metric class
        num_classes: 200
        average: none
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
    iou: 
      cls: MulticlassJaccardIndex
      kwargs: 
        num_classes: 200
        average: none
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
    f1: 
      cls: MulticlassF1Score
      kwargs: 
        num_classes: 200
        average: none
      tensor_keys:  # The tensors keys for metric update, e.g. - input/output: key
        - outputs: logit
        - inputs: label
  engine:  # The class name of the running engine, which needs to be included in the `engines` package 
    cls: BasicValid
test:  # testing settings
  reload_pth: last_epoch.pth  # The pth file name that required to be loaded for valiation
  batch_size: 256  # The total number of batch sizes for all GPUs
  summary_freq: 100  # The frequency for flushing weight&bias summaries
  dataset:  # The settings to determine how to load training dataset
    kwargs:  # The parameters of the validation dataset class
      test_mode: True
      image_dir: test
      image_suffix: .JPEG
    transforms:  # Data transforms included in the `datasets.transforms` package
      func: image_resize_only
      kwargs:  # The parameters of the transform function
        image_size: 
          - 64
          - 64
  engine:  # The class name of the running engine, which needs to be included in the `engines` package 
    cls: BasicTest
foresight_pruning:  # Foresight pruning settings
  weight_init: kaiming_normal_init  # The weight initialization method, which needs to be included in the `tools.weight_init` package
  pruner:  # To determine which pruner shall be used
    keyword: NO_PRUNER  # The keyword of prunner, which can be shown in wandb as group key
  engine:  # The class name of the running engine, which needs to be included in the `engines` package 
    cls: ModelPruning